services:
  myapp:
    image: python:3
    command: ["python3", "-m", "http.server", "8181"]
    ports:
     - 8181
    environment:
      - TUNING={{ tuning }}
      - DEBUG={{ debug }}
      - EXTERNAL_URL="{{ external_url }}"
      - CLIENT="{{ client }}"
      - INTERACTION_MODE="{{ interaction_mode }}"
      - DEVICE_ID={{ device_id }}
    volumes:
      - secret-keys-volume:/data
    deploy:
      mode: replicated
      replicas: {{ replicas }}
      resources:
        reservations:
          cpus: '{{ cpu }}'
          memory: {{ memory }}

volumes: 
  secret-keys-volume: 
    driver: local
    driver_opts:
      o: "size={{ disk_size }},uid=1000"
      device: tmpfs
      type: tmpfs
